<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537983041539-tl8lic9mhlqe668nr7a6u2b9vr7rrql1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537983041539-tl8lic9mhlqe668nr7a6u2b9vr7rrql1</string>
	<key>API_KEY</key>
	<string>AIzaSyAGEvmWxZsw1XC-HKgXv-GkIDsGRD8MDCA</string>
	<key>GCM_SENDER_ID</key>
	<string>537983041539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.Wonf.GifTogether</string>
	<key>PROJECT_ID</key>
	<string>giftogether-ce22d</string>
	<key>STORAGE_BUCKET</key>
	<string>giftogether-ce22d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537983041539:ios:e9734d4ace708cc5c08e36</string>
</dict>
</plist>